{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/config-overrides.js",
          "**/*test.js"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "trailingComma": "all",
        "singleQuote": true
      }
    ],
    "react/no-deprecated": "off"

  }
}
